* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: #698F3F;
    align-items: center;
    color: white;
}

.site-name {
    font-size: 1.7rem;
    font-weight: 700;
    padding: 1rem 0 1rem 1rem;
    margin: 0;
}

.navigation-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    font-size: 1.2rem;
    text-decoration: none;
    display: block;
    margin: 0;
    padding: 1.5rem 2.5rem;
}

.nav-link:link {
    color: white;
}

.nav-link:hover {
    background-color: white;
    color: #698F3F;
}

.nav-link:visited {
    color: #12331B;
}

.mid-section {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    flex: 1;
    background-color: #E7DECD;
    padding: 1rem;
}

.sidebar-title {
    font-family: 'Abril Fatface';
    font-size: 1.2rem;
    padding: 2.5rem 0rem 0rem 0rem;
}

.sidebar-image {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

.main-section {
    display: flex;
    flex-direction: column;
    flex: 4;
}

.main-section-top {
    display: flex;
    flex-grow: 1;
}

.main-content {
    flex: 3;
    padding: 2rem;
}

.main-title {
    font-family: 'Abril Fatface', serif;
    font-size: 2rem;
    padding: 0;
}

p {
    font-size: 1.2rem;
    line-height: 2rem;
}

.main-section-bottom {
    text-align: center;
    background-color: #804E49;
    color: white;
}


/*styling for tablet*/

@media only screen and (max-width: 1000px) {

    .header {
        flex-wrap: wrap;
    }

    .site-name {
        flex: 1 1 100%;
        text-align: center;
    }

    .navigation {
        flex: 1 1 100%;
        display: flex;
    }

    .navigation-list {
        flex: 1 1 100%;
        display: flex;
        justify-content: center;
    }

    .navigation-list li {
        flex: 1 1 20%;
        }


/*Ik probeer hier alle elementen onder elkaar te zetten maar de footer wil niet naar onderen. */

    .mid-section {
        flex-direction: column;
    }

    .main-section-top {
        flex-direction: column;
        order: 98;
    }

    .main-section-bottom {
        order: 99;
    }
}


/*styling for mobile*/

@media only screen and (max-width: 700px) {

    .navigation-list {
        flex-wrap: wrap;
    }

    .navigation-list li {
        flex-basis: 100%;
        text-align: center; 
    }

}